<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1 class="text-center"><%= @school_class.name %></h1>
      <div class="list-group">

          <table class="table table-curved">
            <thead>
              <tr>
                <td>Category</td>
                <td class="to-right">Overall Average</td>
              </tr>
            </thead>
            <tbody>
              <% if @run %>
                <% graph = [] %>
                <% @answer.each do |k, v|%>
                <tr>
                  <td>
                    <% graph << [k, v] %>
                    <%= k %><br>
                  </td>
                  <td class="to-right">
                    <%= v.to_s + ' %' %>
                  </td>
                </tr>
                <% end %>
              <% else %>
                <tr>
                  <td></td>
                  <td class="to-right"> nothing here to view yet! </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>

        <%= column_chart(graph, height: "150px", max: 100) %>

        <div class="list-group">
          <table class="table table-curved">
            <thead>
              <tr>
              <% if @run %>
                <td>Name</td>
                <td class="text-center">Category</td>
                <td class="to-right"> Average </td>
              </tr>
              <% else %>
                <td>Name</td>
                <td class="to-right"> Average </td>
              <% end %>
            </thead>
            <tbody>
              <% if @run %>
                <% @assignments.each do |assignment| %>
                  <tr>
                    <td>
                      <%= link_to assignment do %>
                      <%= assignment.name %>
                    </td>
                    <% end %>
                    <td>
                    <% if assignment.category == "Math" %>
                      <div class="background-red limited-stats">
                        <%= assignment.category %>
                      </div>
                    <% elsif assignment.category == "English" %>
                      <div class="background-blue limited-stats">
                        <%= assignment.category %>
                      </div>
                    <% elsif assignment.category == "Religion" %>
                      <div class="background-orange limited-stats">
                        <%= assignment.category %>
                      </div>
                    <% elsif assignment.category == "Science" %>
                      <div class="background-green limited-stats">
                        <%= assignment.category %>
                      </div>
                    <% else %>
                      <div class="background-grey limited-stats">
                        <%= assignment.category %>
                      </div>
                    <% end %>
                    </td>
                    <td class="to-right" data-id="<%= assignment.id %>" >

                      <% total = [] %>
                      <% assignment.grades.each do |pts| %>
                      <% total << pts.earned_points %>
                      <% end %>
                      <% total = total.compact %>
                      <% av = total.reduce(:+) %>
                      <% size = total.length %>

                      <div class="toggle-views" data-id="<%= assignment.id %>" >
                        <div class="ppoints">
                          <% if av %>
                            <%= ((((av / size.to_f) / assignment.max_points) * 100).floor).to_s + " %"%>
                          <% else %>
                            <p> not enough data yet! </p>
                          <% end %>
                        </div>
                        <div  class="points hidden"  >
                          <% if av %>
                            <%= (av / size.to_f).round(2).to_s + " / " + (assignment.max_points).to_s %>
                          <% else %>
                            <p> not enough data yet! </p>
                          <% end %>
                        </div>
                      </div>
                    </td>
                  </tr>
                <% end %>
              <% else %>
                <tr>
                  <td></td>
                  <td class="to-right"> nothing here to view yet! </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

<script>
  $(document).ready(function() {
    $('.toggle-views').on('click', function() {
      var id = $(this).attr('data-id');
      $('[data-id=' + id + '] .points').toggleClass("hidden");
      $('[data-id=' + id + '] .ppoints').toggleClass("hidden");
    });
  });
</script>
