 <div class="card-wrapper list-wrapper">
  <h1><%= @school_class.name %></h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <td>Category</td>
        <td>Overall Average</td>
      </tr>
    </thead>
    <tbody>
      <% if @run %>
        <% @answer.each do |k, v|%>
        <tr>
          <td>
            <%= link_to k do %>
            <%= k %><br>
            <% end %>
          </td>
          <td>
          <%= v.to_s + ' %' %>
          </td>
        </tr>
        <% end %>
      <% else %>
        <tr>
          <td><p> nothing here to view yet! </p></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="card-wrapper list-wrapper">
  <table class="table table-striped">
    <thead>
      <tr>
        <td>Name</td>
        <td>Category</td>
        <td>Average Grade</td>
      </tr>
    </thead>
    <tbody>
      <% if @run %>
        <% @assignments.each do |assignment| %>
        <tr>
          <td>
            <%= link_to assignment do %>
            <%= assignment.name %>
          </td>
          <% end %>
          <td>
            <%= assignment.category %>
          </td>
          <td data-id="<%= assignment.id %>" >
            <% total = [] %>
            <% assignment.grades.each do |pts| %>
            <% total << pts.earned_points %>
            <% end %>
            <% total = total.compact %>
            <% av = total.reduce(:+) %>
            <% size = total.length %>

            <div class="toggle-views" data-id="<%= assignment.id %>" >
              <div class="points">
                <% if av %>
                <%= (av / size.to_f).round(2).to_s + " / " + (assignment.max_points).to_s %>
                <% else %>
                  <p> not enough data yet! </p>
                <% end %>
              </div>

              <div  class="ppoints hidden"  >
                <% if av %>
                  <%= ((((av / size.to_f) / assignment.max_points) * 100).floor).to_s + " %"%>
                <% else %>
                  <p> not enough data yet! </p>
                <% end %>
              </div>

            </div>
          </td>
        <% end %>
        </tr>
      <% else %>
        <tr>
          <td><p> nothing here to view yet! </p></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script>
  $(document).ready(function() {
    $('.toggle-views').on('click', function() {
      console.log('select worx');
      var id = $(this).attr('data-id');
      $('[data-id=' + id + '] .ppoints').toggleClass("hidden");
      $('[data-id=' + id + '] .points').toggleClass("hidden");
    });
  });
</script>
