<h1><%= @school_class.name %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <td>Name</td>
      <td>Category</td>
      <td>Average Grade</td>
      <td>Max Points</td> <!-- Do we need this? -->
    </tr>
  </thead>
  <tbody>

    <% @assignments.each do |assignment| %>
    <tr>
      <td>
        <%= link_to assignment do %>
        <%= assignment.name %>
      </td>
      <% end %>
      <td>
        <%= assignment.category %>
      </td>
      <td data-id="<%= assignment.id %>" >
        <% total = [] %>
        <% assignment.grades.each do |pts| %>
        <% total << pts.earned_points %>
        <% end %>
        <% av = total.reduce(:+) %>
        <% size = total.length %>
        <div class="toggle-views" id="points" data-id="<%= assignment.max_points %>" >
          <%= av / size.to_f %>
        </div>

      </td>
      <td><%= assignment.max_points %></td> <!-- Makes Table too wide -->
    <% end %>

    </tr>

  </tbody>
</table>


<script>
  $(document).ready(function() {
    $('.toggle-views').on('click', function() {
      console.log('select worx');
      var percent = $(this).text();
      var max = $(this).attr("data-id");
      console.log(max);
      percent = Math.floor((percent / max) * 100);
      var toggle = $(this).html(percent + ' %');
      console.log(percent);
    });
  });
</script>
