<h1><%= @school_class.name %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <td>Name</td>
      <td>Category</td>
      <td>Average Grade</td>
      <td>Max Points</td>
    </tr>
  </thead>
  <tbody>

    <% @assignments.each do |assignment| %>
    <tr>
      <td>
        <%= link_to assignment do %>
        <%= assignment.name %>
      </td>
      <% end %>
      <td>
        <%= assignment.category %>
      </td>
      <td>
        <% total = [] %>
        <% assignment.grades.each do |pts| %>
        <% total << pts.earned_points %>
        <% end %>
        <% av = total.reduce(:+) %>
        <% size = total.length %>
        <%= av / size.to_f %>

      </td>
      <td><%= assignment.max_points %></td>
    <% end %>

    </tr>

  </tbody>
</table>
