<%= simple_form_for([school_class, assignment]) do |f| %>
  <%= f.input :name, label: false, placeholder: "Homework" %>
  <%= f.input :category, label: false, placeholder: "Maths" %>
  <%= f.input :date, as: :date, start_year: Date.today.year - 1,
                              end_year: Date.today.year,
                              order: [:day, :month, :year] %>
  <%= f.input :max_points, label: false, placeholder: "Highest grade possible (eg: 10)" %>
  <%= f.input :weight, label: false, placeholder: "Assignment weight" %>
  <%= f.button :button, class: "btn edu-button" do %>
    Add Assignment
    <div class="text-underline-green fadeIn"></div>
  <% end %>
<% end %>
