<% content_for(:title_tag) do %>
  Grades for <%= @assignment.name %> on eduAssist.me
<% end %>

<div class="card-wrapper list-wrapper">
  <h1><%= @assignment.name %>
    <%= link_to edit_assignment_path(@assignment) do %>
      <i class="fa fa-pencil" aria-hidden="true"></i>
    <% end %>
  </h1>
  <h3><%= @assignment.category %></h3>
  <h4><%= @assignment.date %></h4>


  <ul class="list-group">
    <% @grades.each do |grade| %>
      <li class= "list-group-item" data-id="<%= grade.id %>">
        <%= link_to student_path(grade.student.id) do %>
          <div class="item-name">
            <%= grade.student.first_name + " " + grade.student.last_name %>
          </div>
        <% end %>
        <%= render 'grades/gradeform', grade: grade %>
        <div class="item-attribute">
          / <%= grade.assignment.max_points %>
        </div>
      </li>
    <% end %>
  </ul>
</div>

<script>
  var edit = function() {
    $('.earned-points').on("focus", function(event){
      var id = $(this).parent().parent().parent().parent().attr('data-id');
      console.log(id);
      $('.submit-button').addClass('hidden');
      $('[data-id=' + id + '] .submit-button' ).removeClass("hidden");
    });
  };

  $(document).ready(function(){
    edit();
  });
</script>
