<%= simple_form_for([school_class, student], remote: true) do |f| %>
  <%= f.input :first_name, label: false, placeholder: "First Name" %>
  <%= f.input :last_name, label: false, placeholder: "Last Name" %>
  <ul class="list-inline">
    <li><%= f.button :button, class: "btn edu-button" do %>
      Add Student
      <div class="text-underline-green"></div>
      <% end %>
    </li>
    <li><%= link_to @school_class, class: "btn edu-button" do %>
      Done!
      <div class="text-underline-blue"></div>
      <% end %>
    </li>
  </ul>
<% end %>
