<div class="card-wrapper form-wrapper">
  <%= simple_form_for @student do |f| %>
    <%= f.input :first_name, label: false, placeholder: "First Name"  %>
    <%= f.input :last_name, label: false, placeholder: "Last Name" %>
    <%= f.input :bio, label: false, placeholder: "Any important information about this student?" %>
    <%= f.input :birthday, as: :date, start_year: Date.today.year - 20,
                                end_year: Date.today.year,
                                order: [:day, :month, :year] %>
    <ul class="list-inline">
      <li><%= f.button :button, class: "btn edu-button" do %> Update Student<div class="text-underline-blue"></div><% end %></li>
      <li>
        <button type="button" class="btn edu-button-danger" data-toggle="modal" data-target="#deleteModal">Delete Student <div class="text-underline-red"></div></button>
      </li>
    </ul>
  <% end %>

  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header delete-modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Important Notice!</h4>
        </div>
        <div class="modal-body">
          You are about to delete this student record permanently.<br>
          This means all associated data of the student will be deleted as well.<br>
          Only select 'Delete' if you really want to do this.
        </div>
        <div class="modal-footer">
          <%= button_to "Delete Student", { action: "destroy", id: @student.id }, method: :delete, class: 'btn edu-button-danger' %>
        </div>
      </div>
    </div>
  </div>
</div>
