<div class="card-wrapper list-wrapper wrapper-with-sticky-footer">
  <h1><%= @school_class.name %></h1>
  <ul class="list-group">
    <% @students.each do |student| %>
      <li class= "list-group-item" id="student-index">
        <%= student.first_name %> <%= display_last_name(student) %>
          <i class="fa fa-caret-down" aria-hidden="true"></i>
          <div class="student-info hidden">
            <ul class="list-inline">
            <li><h4>Birthday:</h4></li>
              <% if student.birthday %>
                <li><p><%= student.birthday.strftime("%B %-d, %Y") %></p></li>
              <% else %>
                <li><p> not provided </p></li>
                <% end %>
            </ul>
            <h4>Important Information:</h4>
              <% if student.bio %>
                <p><%= student.bio %></p>
              <% else %>
                <p> not provided </p>
              <% end %>
            <ul class="list-inline text-center">
              <li>
                <%= link_to assignments_student_path(student), class: "btn edu-button" do %>
                  Grades
                  <div class="text-underline-green"></div>
                <% end %>
              </li>
              <li>
                <%= link_to attendances_student_path(student), class: "btn edu-button" do %>
                  Attendance
                  <div class="text-underline-blue"></div>
                <% end %>
              </li>
              <li>
                <%= link_to edit_student_path(student), class: "btn edu-button" do %>
                  Edit
                  <div class="text-underline-black"></div>
                <% end %>
              </li>
            </ul>
          </div>
      </li>
    <% end %>
  </ul>
</div>
<div class="sticky-footer">
  <div>
    <%= link_to new_school_class_student_path(@school_class), class: "btn edu-button" do  %>
      New Student?
      <div class="text-underline-green"></div>
    <% end %>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('li').on("click", function(event){
      event.preventDefault();
      $('li').not(this).find('.student-info').addClass("hidden");
      $(this).find('.student-info').toggleClass("hidden");
    });
    $('a').on("click", function(event){
      event.stopPropagation();
    });
  });
</script>
