<div class="card-wrapper list-wrapper">
  <h1><%= @student.first_name %></h1>

  <% @grades.each do |grade| %>
    <ul class="list-unstyled">
      <li>Assignment: <%= grade.assignment.name %></li>
      <li>Category: <%= grade.assignment.category %></li>
      <li>Max Points: <%= grade.assignment.max_points %></li>
    </ul>

      <%= simple_form_for grade, url: grades_student_path(@student) do |f| %>
      <%= f.input :earned_points %>
      <%= f.input :id, as: :hidden, value: grade.id %>
      <ul class="list-inline">
        <li>
          <%= f.button :button, class: "btn edu-button" do %>
            Edit Grade
            <div class="text-underline-green"></div>
          <% end %>
        </li>
      <% end %>
      <hr>
    <% end %>

</div>

