<div class="navbar-eduassist">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-eduassist-brand" do %>
    <%= image_tag "logo.png" %>
  <% end %>

  <div class="text-center">
    <h2>eduAssist</h2>
  </div>

  <!-- Right Navigation -->
  <div class="navbar-eduassist-right hidden-xs hidden-sm">

    <!-- Different navigation if login or not -->
    <% if user_signed_in? %>
    <!-- Do we need this ? -->
    <% else %>

      <!-- Login text link -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-eduassist-item navbar-eduassist-link" %>

    <% end %>

    <!-- Button (call-to-action) -->
    <%= link_to t(".top_call_to_action", default: "Add Student"), "#", class: "navbar-eduassist-item navbar-eduassist-button btn" %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-eduassist-item hidden-md hidden-lg">
    <div class="dropdown">
    <%= image_tag("menu.png", "data-toggle" => "dropdown", "class" => "dropdown-toggle" ) %>
      <ul class="dropdown-menu dropdown-menu-right navbar-eduassist-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>
