<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <% content_for(:title_tag) do %>
        <%= @school_class.name %> on eduAssist.me
      <% end %>
      <div class="headline">
        <h1><%= @school_class.name %></h1>
      </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="card" id="struggling-students">
              <% if @assignment %>
              <p>Lowest scores on <%= @assignment.name %></p>
              <%= column_chart(@graph_array,height: "150px", max: @max_points, colors: ['#9EB25D']) %>
              <% end %>
              <br>
              <%= link_to school_class_students_path(@school_class) do %>
                <p>View All Students</p>
                <div class="bottom-border"></div>
              <% end %>
            </div>
          </div>

          <div class="col-xs-6">
            <%= link_to new_attendance_path(@school_class) do %>
              <div class="card">
                <%= image_tag "attendance.png", class: "card-image" %>
                <p>Attendance</p>
                <div class="bottom-border"></div>
              </div>
            <% end %>
          </div>

          <div class="col-xs-6">
            <%= link_to school_class_assignments_path(@school_class) do %>
              <div class="card">
                <%= image_tag "gradebook.png", class: "card-image" %>
                <p>Gradebook</p>
                <div class="bottom-border"></div>
              </div>
            <% end %>
          </div>

          <div class="col-xs-6">
            <%= link_to stats_school_class_path(@school_class) do %>
              <div class="card">
                <%= image_tag "class-stats.png", class: "card-image" %>
                <p>Class Stats</p>
                <div class="bottom-border"></div>
              </div>
            <% end %>
          </div>

          <div class="col-xs-6">
            <%= link_to edit_school_class_path(@school_class) do %>
              <div class="card">
                <%= image_tag "edit-class.png", class: "card-image" %>
                <p>Edit Class</p>
                <div class="bottom-border"></div>
              </div>
            <% end %>
          </div>
        </div>
      <div class="margin"></div>
    </div>
  </div>
</div>
