<div class="card-wrapper">
  <h1><%= @school_class.name %></h1>
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-4">

        <div class="card">
          <%= link_to school_class_students_path(@school_class) do %>
            <%= image_tag "students.png", class: "card-image" %>
            <p>Students</p>
            <div class="bottom-border"></div>
          <% end %>
        </div>
      </div>

      <div class="col-xs-6 col-sm-4">
        <div class="card">
          <%= link_to new_school_class_attendance_path(@school_class) do %>
            <%= image_tag "attendance.png", class: "card-image" %>
            <p>Attendance</p>
            <div class="bottom-border"></div>
          <% end %>
        </div>
      </div>

      <div class="col-xs-6 col-sm-4">
        <div class="card">
          <%= link_to school_class_assignments_path(@school_class) do %>
            <%= image_tag "gradebook.png", class: "card-image" %>
            <p>Gradebook</p>
            <div class="bottom-border"></div>
          <% end %>
        </div>
      </div>

      <div class="col-xs-6 col-sm-4">
        <div class="card">
          <%= link_to stats_school_class_path(@school_class) do %>
            <%= image_tag "class-stats.png", class: "card-image" %>
            <p>Class Stats</p>
            <div class="bottom-border"></div>
          <% end %>
        </div>
      </div>

      <div class="col-xs-6 col-sm-4">
        <div class="card">
          <%= link_to edit_school_class_path(@school_class) do %>
            <%= image_tag "edit-class.png", class: "card-image" %>
            <p>Edit Class</p>
            <div class="bottom-border"></div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
