<h1>Class page for : <%= @school_class.name %>

<h2>Class statistics</h2>
<ol>
  <% if policy(Student).index? %>
    <li>
      <h3><%= link_to "#{@school_class.name} students", "" %></h3>
    </li>
  <% end %>
    <li>
      <h3>Average grades... </h3><br>
      <%= link_to "View more", "" %>
    </li>
  </li>
</ol>
<hr>
<h3><%= link_to "Attendance", "" %></h3>
<hr>
<h3><%= link_to "Gradebook", "" %></h3>
<hr>
<h3>(<%= link_to "Other feature...", "" %>)</h3>


