<h1>Class page for : <%= @school_class.name %>

<h3><%= link_to "Students", school_class_students_path(@school_class) %></h3>
<hr>
<h3><%= link_to "Attendance", "" %></h3>
<hr>
<h3><%= link_to "Gradebook", "" %></h3>
<hr>
<h3><%= link_to "Class Stats", "" %></h3>
<hr>
<h3><%= link_to "Edit Class", edit_school_class_path(@school_class) %></h3>
