<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <% content_for(:title_tag) do %>
        View attendance for <%= @date.strftime("%A, %-d %B %Y") %> on eduAssist.me
      <% end %>

      <div class="card-wrapper list-wrapper">
        <h2><%= @date.strftime("%A, %-d %B %Y") %></h2>
        <% unless @attendances.empty? %>
          <%= link_to 'Edit', edit_attendance_school_class_path(id: @school_class, date: @date)%> |
        <% end %>
        <%= link_to 'Previous Day',  attendance_school_class_path(id: @school_class, date: @date - 1)%> |
        <% unless @date == Date.today %>
          <%= link_to 'Following Day',  attendance_school_class_path(id: @school_class, date: @date + 1)%>
        <% end %>

        <% if @attendances.empty? %>
          <h3>No Attendance Taken</h3>
        <% else %>
          <% @attendances.each do |attendance| %>
            <div class="attendance-card-show">
              <div class="student-name">
                <%= attendance.student.first_name %>
                <%= attendance.student.last_name.first %>.
              </div>
              <div class="student-present">
                <% if attendance.present %>
                  <i class="fa fa-check color-green" aria-hidden="true"></i>
                <% else %>
                  <i class="fa fa-times color-red" aria-hidden="true"></i>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
